*{
    margin: 0;
    padding: 0;
    font-family: 'popins', sans-serif;

}
body{
    background-color:#f8f8fc;

    
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
background:rgb(225, 225, 231);
padding: 5px 5%;
position: sticky;
top: 0;
z-index:100;
}
.logo{
    width: 200px;
    margin-left:1px;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;

}

.nav-right ul li{
    list-style: none;
    display: inline-block;
padding: 5px;
}
.nav-left ul li{
list-style: none;
display: inline-block;
}
.nav-left ul li img{
    width: 28px;
margin: 0 15px;
}

.nav-user-icon img{
 width: 40px;
 border-radius: 50%;
 cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}


.search-box{
    background:#efefef;
    width: 350px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 15px;

}
.search-box img{
width: 18px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border:0;
}
.online{
    position: relative;

}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
background: #41db51;
position: absolute;
top: 0;
right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;

}


.right-sidebar{
    background: #cbdffa;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}



.main-content{
    flex-basis: 47%;
}
.wrapper {
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position:fixed;
    width: 300px;
    height: 100%;
    background: #5417d3;
    padding: 30px 0;
   }
 .wrapper .sidebar h2{  color: #fff;
   text-transform: uppercase;
   text-align: left;
   margin-bottom: 5px;
font-size:20px; 
}

.wrapper .sidebar h2{
padding: 5px;
margin-left:30px;
border-top: 1px solid rgba(128, 126, 240, 0.55);
margin-left:-10px;
}
.wrapper .sidebar ul li{
padding:10px;

}
.wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
text-decoration: none;

}

.wrapper .sidebar ul li:hover{
    background:#594f8d;
}
 .wrapper .sidebar ul li:hover a{
     color: #fff;
 }
 .name{
     margin-right:-10%;
 }
 .horline{
    height:40px;
     
     border-left: 2px solid #e7e7f2;
padding:10px;
 }
 .not{
     position: relative;
     
    }
 .num{
     position: absolute;
     top: 7px;
     right:25.5%;
     width: 20px;
     height: 20px;
     background: red;
 color:honeydew;
 display: flex;
 justify-content:center;
 align-items:center; 
 border-radius:30%;
 
    }

.in{
    position: relative;
}
.numm{
    position: absolute;
    top: 7px;
    right:21.5%;
    width: 20px;
    height: 20px;
    background: red;
color:honeydew;
display: flex;
justify-content:center;
align-items:center; 
border-radius:30%;
}
.line1{
    position: relative;
    font-family: 'Trebuchet MS' ;
    font-size:25pt;
    margin-left:330px;
    margin-top:5px;
}
.line2
{
    font-size:15pt;
    font-family: 'Trebuchet MS' ;
    margin-left:650px;
    margin-top:20%;
    transform: translate(50% 50%);    
}
.search{
    width: 40%;
border-radius:5px;    
}
    .search, .btn{
        width: 55;
        border: 2px solid #ebeaf3;
        border-right: 0px;
        font-size:18px;
padding: 15px;
background:#ffffff ;
color:#6248e2;

border-left: 0px;    
}
     .btn{
         color:white;
        width: 10%;
        background:#6248e2; 
        border-left: 0px;
margin-left:-5px;
    }